<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Include Tailwind CSS -->
    <link href="./output.css" rel="stylesheet" />
    <!-- Include HTMX Library -->
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <button
      class="bg-blue-500 text-white p-2"
      hx-post="http://localhost:3000/"
      hx-trigger="click"
      hx-target="#parent-div"
      hx-swap="outerHTML"
    >
      Click Me!
    </button>
    <input
      class="text-yellow-400"
      type="text"
      name="text"
      hx-post="http://localhost:3000/savetext"
      hx-target="#parent-div"
      hx-swap="outerHTML"
      hx-trigger="keyup changed delay:500ms"
    />
    <div id="parent-div" class="parent"></div>
  </body>
</html>
